{% extends "home.html" %}
{% block content %}

<div class="main">
    <h2>Compose Email</h2>

    <div class="compose-container">
        <form method="POST">
            {% csrf_token %}

            <label>To (comma-separated emails)</label>
            <input type="text" name="recipients" required>

            <label>Subject</label>
            <input type="text" name="subject">

            <label>Message</label>
            <textarea name="body" rows="10"></textarea>

            <button type="submit">Send</button>
        </form>
    </div>
</div>

{% endblock %}
