{% extends "home.html" %}
{% block content %}

<div class="main">
    <h2>Sent Emails</h2>

    {% for email in emails %}
    <div class="email-card">
        <span class="timestamp">{{ email.timestamp|date:"g:i A" }}</span>
        <div class="sender">To:
            {% for r in email.recipients.all %}
                {{ r.email }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
        <div class="subject">{{ email.subject|default:"(No Subject)" }}</div>
        <div class="body">{{ email.body|truncatechars:80 }}</div>
    </div>
    {% empty %}
        <p>No sent mail found.</p>
    {% endfor %}
</div>

{% endblock %}
